
{{#if user}}
 
 <div class="descuentos">
   
   <h1><b>¡Bienvenido a HandyDrops!</b></h1>

   <h3>Disfruta de un 20% de descuento por haberte registrado en nuestra web.</h3>

   <h2><b>Código de descuento: </b></h2> <h4>43ert556gg76hhj</h4>


 </div>


<footer>
    <nav>
        <ul class="nav justify-content-start">
          <a class="navbar-brand" href="/">
            <img src="../img/logochulo.png" width="200" height="80" class="d-inline-block align-top" alt="">
        </ul>
        <ul class="nav justify-content-end">
          </a>
          <li class="nav-item">
            <a class="nav-link active" href="/service"><b>Servicios</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/places"><b>Donde encontrarnos</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/phone"><b>Precios</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/email"><b>Contacta con Nosotros</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout"><b>Logout</b></a>
          </li>
        </ul>
           <legend></legend>
    </nav>
  
  {{/if}}