<head>
<link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
  </head>
<div class="email">
    
        <form action="/email" method="post">
            <br>
            <div>
                <label for="name-formulario">Nombre:</label>
                <input type="text" name="name" />
            </div>
            <br>
            <div>
                <label for="mail">E-mail:</label>
                <input type="email" name="email" />
            </div>
            <br>
            <div>
                <label for="msg">Mensaje:</label>
                <textarea name="msg"></textarea>
            </div>
            <br>
            <div class="g-recaptcha" data-sitekey="6Levk30UAAAAAIkPrCV379glE0Mrt-wrIxvzhevb"></div>
            <br>
            <div class="submit-formulario">
                <button type="submit-formulario">Enviar</button>
            </div>
        </form>
    
</div>

<footer>
    <nav class="borde-nav">
        <ul class="nav justify-content-start">
          <a class="navbar-brand" href="/">
            <img src="./img/logochulo.png" width="200" height="80" class="d-inline-block align-top" alt="">
        </ul>
        <ul class="nav justify-content-end">
          </a>
          <li class="nav-item">
            <a class="nav-link active" href="/service"><b>Servicios</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/places"><b>Dónde encontrarnos</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/phone"><b>Precios</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/email"><b>Contacta con nosotros</b></a>
          </li>
          <li class="nav-item">
            {{#if myUser}}
            <a class="nav-link" href="/auth/logout"><b>Logout</b></a>
            {{else}}
            <a class="nav-link" href="/auth/login"><b>Login</b></a>
            {{/if}}
          </li>
        </ul>
      
    </nav>
    <footer class="footer">
  
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/handydrops"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-skype"></i></a>
  
    
  </footer> 
