<div class="email">
    
        <form action="/email" method="post">
            <br>
            <div>
                <label for="name-formulario">Nombre:</label>
                <input type="text" name="name" />
            </div>
            <br>
            <div>
                <label for="mail">E-mail:</label>
                <input type="email" name="email" />
            </div>
            <br>
            <div>
                <label for="msg">Mensaje:</label>
                <textarea name="msg"></textarea>
            </div>
            <br>
            <div class="g-recaptcha" data-sitekey="6Levk30UAAAAAIkPrCV379glE0Mrt-wrIxvzhevb"></div>
            <br>
            <div class="submit-formulario">
                <button type="submit-formulario">Enviar</button>
            </div>
        </form>
    
</div>

<footer>
    <nav>
        <ul class="nav justify-content-start">
          <a class="navbar-brand" href="/">
            <img src="./img/logochulo.png" width="200" height="80" class="d-inline-block align-top" alt="">
        </ul>
        <ul class="nav justify-content-end">
          </a>
          <li class="nav-item">
            <a class="nav-link active" href="/service"><b>Servicios</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/places"><b>Donde encontrarnos</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/phone"><b>Precios</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/email"><b>Contacta con Nosotros</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login"><b>Login</b></a>
          </li>
        </ul>
        <legend></legend>
      {{!-- <a href="/auth/logout">Logout</a> --}}
      
    </nav>
    {{!-- <div class="footer"><a class="home-footer" href="/">Home</a> HandyDrops© 2018 Copyright</a>
    </div>
  </footer> --}}