
<form action="/email" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name"/>
    </div>
    <div>
        <label for="mail">E-mail:</label>
        <input type="email" name="email"/>
    </div>
    <div>
        <label for="msg">Message:</label>
        <textarea name="msg"></textarea>
    </div>
    <div>
        <button type="submit">Enviar</button>
    </div>
</form>


 

