<div class="login-entero">
<h2>Login</h2>

<div class="login-style">
  <form action="/auth/login" method="POST" id="form-container">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="">

    <br><br>

    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="">
    <br>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <br><br>
 <p class="account-message">
      Don't have an account yet?
      <a href="/auth/signup">Signup</a>
      
    </p>
    <button>Login</button>

    
  </form>
</div>
</div>


<footer>
    <nav>
        <ul class="nav justify-content-start">
          <a class="navbar-brand" href="/">
            <img src="../img/logochulo.png" width="200" height="80" class="d-inline-block align-top" alt="">
        </ul>
        <ul class="nav justify-content-end">
          </a>
          <li class="nav-item">
            <a class="nav-link active" href="/service"><b>Servicios</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/places"><b>Donde encontrarnos</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/phone"><b>Precios</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/email"><b>Contacta con Nosotros</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login"><b>Login</b></a>
          </li>
        </ul>
      {{!-- <a href="/auth/logout">Logout</a> --}}
           <legend></legend>
    </nav>
    {{!-- <div class="footer"><a class="home-footer" href="/">Home</a> HandyDrops© 2018 Copyright</a>
    </div>
  </footer> --}}
