
<form action="/phone" method="POST">
   <select name="brand">   
       <option>Marca</option> 
       <option value="Apple">Apple</option>
       <option value="Huawei">Huawei</option>
       <option value="LG">LG</option>
       <option value="Samsung">Samsung</option>
       <option value="Sony">Sony</option>
   </select>
    <br>
    <br>
    
       <select name="device"> 
       <option>Modelo</option> 
       <option value="Iphone 5S">Iphone5</option>   
       <option value="Iphone 6 plus">Iphone6</option>   
       <option value="Iphone 7 plus">Iphone7</option>
       <option value="P10 plus">P10</option>
       <option value="P10 lite">P10Lite</option>
       <option value="P20">P20</option>
       <option value="P20 lite">P20Lite</option>
       <option value="G6">G6</option>
       <option value="Q7">Q7</option>
       <option value="Galaxy S5 plus">GalaxyS5</option>
       <option value="Galaxy Y plus">GalaxyY</option>
       <option value="Xperia XZ2 compact">XperiaXZ</option>
       
      
     
   
   </select>
    <br>
    <br>
    <button type="submit">tu móvil</button>
</form>
<br>
<br>
<h3>¿No aparece tu móvil?</h3>
<a href="/email">¡Escríbenos!</a>

<br>
<br>
<table>
  <tr>
    <td>Modelo</td>
    <td>Dimensión</td>
    <td>Pantalla</td>
    <td>Resolución</td>
  </tr>

{{#each data}}


  <tr>
    <th>{{this.DeviceName}}</th>
    <th>{{this.dimensions}}</th>
    <th>{{this.type}}</th>
    <th>{{this.resolution}}</th>
  </tr>
</table>
{{/each}}

<br>
<br>
<h3>Precios: </h3>




