
<div class="phones">

  <div class="phones-selection">
    <h3>Selecciona tu móvil</h3>
    <br>
    <form action="/phone" method="POST">
      <select name="brand">
        <option>Marca</option>
        <option value="Apple">Apple</option>
        <option value="Huawei">Huawei</option>
        <option value="LG">LG</option>
        <option value="Samsung">Samsung</option>
        <option value="Sony">Sony</option>
      </select>
      <br>
      <br>
      <select name="device">
        <option>Modelo</option>
        <option value="Iphone 5S">Iphone5</option>
        <option value="Iphone 7 plus">Iphone7</option>
        <option value="Iphone XR">IphoneX</option>
        <option value="P10 plus">P10</option>
        <option value="P10 lite">P10Lite</option>
        <option value="P20">P20</option>
        <option value="P20 lite">P20Lite</option>
        <option value="G6">G6</option>
        <option value="Q7">Q7</option>
        <option value="Galaxy S5 plus">GalaxyS5</option>
        <option value="Galaxy S8+">GalaxyS8</option>
        <option value="Xperia XZ2 compact">XperiaXZ</option>
      </select>
      <br>
      <br>
      <button type="submit">tu móvil</button>
    </form>
    <br>
    <br>
    <h3>¿No encuentras tu modelo?</h3>
    <button><a href="/email">¡Escríbenos!</a></button>
  </div>
  <div class="phones-table">
    <table id="customers">
      <tr>
        <th>Modelo</th>
        <th>Dimensión</th>
        <th>Pantalla</th>
        <th>Resolución</th>
      </tr>
      {{#each data}}
      <tr>
        <td>{{this.DeviceName}}</td>
        <td>{{this.dimensions}}</td>
        <td>{{this.type}}</td>
        <td>{{this.resolution}}</td>
      </tr>
    </table>
    {{/each}}
  </div>
  

  <div class="phones-prices">
   <table id="customers">
     <tr>
       <th>Precio</th>
     </tr>
      <tr>
       <td>80€</td>
     </tr>
   </table>
  </div>


</div>

<footer>
    <nav>
        <ul class="nav justify-content-start">
          <a class="navbar-brand" href="/">
            <img src="./img/logochulo.png" width="200" height="80" class="d-inline-block align-top" alt="">
            {{!-- <p class="name">
              HandyDrops</p> --}}
        </ul>
        <ul class="nav justify-content-end">
          </a>
          <li class="nav-item">
            <a class="nav-link active" href="/service">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/places">Donde encontrarnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/phone">Precios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/email">Contacta con Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
        </ul>
      
    </nav>
    <div class="footer"><a class="home-footer" href="/">Home</a> HandyDrops© 2018 Copyright</a>
    </div>
  </footer>
