<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<div class="signup-entero">
  <h2>Signup</h2>
  <div class="signup-style">
    <form action="/auth/signup" method="POST" id="form-container">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="">

      <br><br>

      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="">

      <br>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}

      <br><br>

      <p class="account-message">
        Do you already have an account?
        <a href="/auth/login">Login</a>
      </p>
      <button>Create account</button>
    </form>
  </div>
</div>

<footer>
    <nav class="borde-nav">
        <ul class="nav justify-content-start">
          <a class="navbar-brand" href="/">
            <img src="../img/logochulo.png" width="200" height="80" class="d-inline-block align-top" alt="">
        </ul>
        <ul class="nav justify-content-end">
          </a>
          <li class="nav-item">
            <a class="nav-link active" href="/service"><b>Servicios</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/places"><b>Dónde encontrarnos</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/phone"><b>Precios</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/email"><b>Contacta con nosotros</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login"><b>Login</b></a>
          </li>
        </ul>
      {{!-- <a href="/auth/logout">Logout</a> --}}
    </nav>
    {{!-- <div class="footer"><a class="home-footer" href="/">Home</a> HandyDrops© 2018 Copyright</a>
    </div>
  </footer> --}}

  </nav>
 <footer class="footer">
  
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/handydrops"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-skype"></i></a>
  
    
  </footer> 
